.banner {
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    color: white;
    position: relative;
  }

.ul{
    display: flex;
    gap: 1210px;
    margin-left: 50px;
    
}


.logo{
    color:#4E47FF;
    font-size: 25px;
    font-weight: 1600px;
    margin-top: 20px;
}
nav ul li{
    list-style: none;
    
    
}
.btn-sign{
    background-color:#4E47FF;
    font-size: 15px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 5%;
    border: none;
}
.cool1{
    color: #252432;
    font-weight: bold;
    margin-top: 140px;
    text-align: center;
    
   
}
.web{
    color: #252432;
    font-weight: bold;
    text-align: center;
    
}
.btn-stay{
    background-color:#4E47FF;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 5px 5px;
    border-radius: 5%;
    border: none;
    margin-left: 700px;
}
.cool{
    display: block;
    gap: 0px;
   
}
.action{
    display: flex;
    gap: 350px;
    margin-top: 80px;
    margin-left: 145px;
    margin-right: 145px;
    margin-bottom: 80px;
}
.h2{
    font-weight: bold;
    color: #252432;
    
}
.h5{
    font-weight: 0px;
    color: #252432;
}
.btn-launch{
    background-color:#4E47FF;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 10px 10px;
    border-radius: 5%;
    border: none;
    
}
.webflow{
    border-radius: 10%;
}
.pro-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 10px;
    margin-left: 250px;
    margin-right: 250px;
  }

.pro-1{
    text-align: left;
}
.pro-2{
    text-align: center;
}
.pro-3{
    text-align: right;
}
.productive {
    max-width: 1120px;
    margin-right: 140px;
    margin-left: 140px;
    background-color: #e9e8f7;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
 }
.h3{
    font-weight: bolder;
    font-size: x-large;
    color: #252432;
}
.h1{
    color: #3c36ec;
    font-size: xx-large;
    font-weight: bolder;
   

    
}
.h6{
    color: #4b4b4c;
    font-size: x-small;
    
}


.feedback {
    max-width: 1120px;
    margin-left: 140px;
    text-align: center;
    padding: 20px;
    background-color: none;
}

.feedback h2{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.card{
    width: 250px;
    height: 220px;
    margin-left: 20px;
    border-radius: 10px;
    border: 2px solid rgb(253, 252, 252);
    padding: 10px;
    text-align: left;
    box-shadow: rgb(239, 236, 236);
    background-color: whitesmoke;
}
.card-container{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: 0 auto;
  
  
}

.star{
    width: 10%;
    height: 20px;   
}
.avater{
    border-radius: 50%;
    width: 50px;
}
.avater,.review{
    display: inline-block;
    gap: 100px;
}
.review h4,h6{
    color: #252432;
    text-align: left;
}
.card h5{
    color: #252432;
}
.feedback h2, .card{
    display: block;
}

.better{
    margin-top: 10px;
    display: inline-block;
    text-align: center;
}
.better h2{
    margin-top: 0px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
.better h6{
    text-align: center;
    color: #4b4b4c;
}
.btn-free{
    background-color: #3c36ec;
    color: white;
    border-radius: 5%;
    padding: 8px;
}
.wc-mini{
    margin-top: 40px;
    border-radius: 5%;
}
.focus{
    display: inline-block;
    text-align: center;
    background-color: rgb(251, 246, 246);
    max-width: 1600px;
    margin-left: 140px;
    margin-right: 140px;
    padding: 160px;
    height: 500px;
    margin-top: 60px;
    
}
.touch-1{
    text-align: left;
    margin-left: 140px;
    font-weight: bolder;
    font-size: 40px;
}
.form{
    align-items:center;
    margin-right: 220px;
}
.touch{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 40px;
}
.btn-primary{
    width: 400px;
    height: 40px;
    background-color: #4E47FF;
    color: white;
}
.email{
    width: 395px;
    height: 30px;
}
.name{
    width: 395px;
    height: 30px;
}

.btn-sign:hover{
        background-color: yellow;
        color: black;
}
.btn-free:hover{
    background-color: yellow;
    color: black;
}
.btn-stay:hover{
    background-color: yellow;
    color: black;
}
.btn-launch:hover{
    background-color: yellow;
    color: black;
}
.btn-primary:hover{
    background-color: yellow;
    color: black;
}